Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

chore: fix linked dependencies to be fixed
  .changeset/config.json
Due: none

chore: update framework related packages to no longer be private
  .changeset/config.json
  packages/framework/core/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/core/package.json
  packages/framework/http/libraries/express-v4/package.json
  packages/framework/http/libraries/express/package.json
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/validation/package.json
  packages/framework/validation/libraries/ajv/package.json
  packages/framework/validation/libraries/class-validator/package.json
  packages/framework/validation/libraries/common/package.json
  packages/framework/validation/libraries/standard-schema/package.json
  packages/logger/package.json
Due: @inversifyjs/ajv-validation, @inversifyjs/class-validation, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/standard-schema-validation

chore: update peer dependency
  packages/framework/http/libraries/fastify/package.json
Due: none

chore: update packages to be public
  packages/framework/http/libraries/express-v4/package.json
  packages/framework/http/libraries/express/package.json
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/validation/libraries/ajv/package.json
  packages/framework/validation/libraries/class-validator/package.json
  packages/framework/validation/libraries/common/package.json
  packages/framework/validation/libraries/standard-schema/package.json
Due: @inversifyjs/ajv-validation, @inversifyjs/class-validation, @inversifyjs/standard-schema-validation

fix: fix missing 202012 json schema types
  .changeset/cute-wombats-nail.md
  packages/json-schema/libraries/json-schema-types/.npmignore
Due: none

fix: fix missing v3Dot1 OpenAPI types
  .changeset/fast-clocks-brake.md
  packages/open-api/libraries/open-api-types/.npmignore
Due: none

docs: add copilot-instructions.md file
  .github/copilot-instructions.md
Due: none

docs: add v8 announcement blog entry
  packages/docs/services/inversify-site/blog/2025-09-23-planning-inversify-8-0-0/index.mdx
Due: none

feat: update blog entry with image
  packages/docs/services/inversify-site/blog/2025-09-23-planning-inversify-8-0-0/cast-your-vote.jpg
  packages/docs/services/inversify-site/blog/2025-09-23-planning-inversify-8-0-0/index.mdx
Due: none

feat: add v8 announcement
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-site/src/css/custom.css
Due: none

feat: add express 4 openapi package
  .changeset/weak-bars-tap.md
  packages/framework/http/libraries/express-4-open-api/.gitignore
  packages/framework/http/libraries/express-4-open-api/.lintstagedrc.json
  packages/framework/http/libraries/express-4-open-api/.npmignore
  packages/framework/http/libraries/express-4-open-api/README.md
  packages/framework/http/libraries/express-4-open-api/eslint.config.mjs
  packages/framework/http/libraries/express-4-open-api/package.json
  packages/framework/http/libraries/express-4-open-api/prettier.config.mjs
  packages/framework/http/libraries/express-4-open-api/rollup.config.mjs
  packages/framework/http/libraries/express-4-open-api/src/index.ts
  packages/framework/http/libraries/express-4-open-api/src/openapi/calculations/buildSwaggerUiExpress4Controller.int.spec.ts
  packages/framework/http/libraries/express-4-open-api/src/openapi/calculations/buildSwaggerUiExpress4Controller.ts
  packages/framework/http/libraries/express-4-open-api/src/openapi/services/SwaggerUiExpress4Provider.ts
  packages/framework/http/libraries/express-4-open-api/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/express-4-open-api/src/server/models/Server.ts
  packages/framework/http/libraries/express-4-open-api/tsconfig.cjs.json
  packages/framework/http/libraries/express-4-open-api/tsconfig.esm.json
  packages/framework/http/libraries/express-4-open-api/tsconfig.json
  packages/framework/http/libraries/express-4-open-api/vitest.config.mjs
Due: none

feat: add express openapi package
  .changeset/grumpy-birds-wash.md
  packages/framework/http/libraries/express-open-api/.gitignore
  packages/framework/http/libraries/express-open-api/.lintstagedrc.json
  packages/framework/http/libraries/express-open-api/.npmignore
  packages/framework/http/libraries/express-open-api/README.md
  packages/framework/http/libraries/express-open-api/eslint.config.mjs
  packages/framework/http/libraries/express-open-api/package.json
  packages/framework/http/libraries/express-open-api/prettier.config.mjs
  packages/framework/http/libraries/express-open-api/rollup.config.mjs
  packages/framework/http/libraries/express-open-api/src/index.ts
  packages/framework/http/libraries/express-open-api/src/openapi/calculations/buildSwaggerUiExpressController.int.spec.ts
  packages/framework/http/libraries/express-open-api/src/openapi/calculations/buildSwaggerUiExpressController.ts
  packages/framework/http/libraries/express-open-api/src/openapi/services/SwaggerUiExpressProvider.ts
  packages/framework/http/libraries/express-open-api/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/express-open-api/src/server/models/Server.ts
  packages/framework/http/libraries/express-open-api/tsconfig.cjs.json
  packages/framework/http/libraries/express-open-api/tsconfig.esm.json
  packages/framework/http/libraries/express-open-api/tsconfig.json
  packages/framework/http/libraries/express-open-api/vitest.config.mjs
Due: none

feat: add fastify openapi package
  .changeset/small-dingos-appear.md
  packages/framework/http/libraries/fastify-open-api/.gitignore
  packages/framework/http/libraries/fastify-open-api/.lintstagedrc.json
  packages/framework/http/libraries/fastify-open-api/.npmignore
  packages/framework/http/libraries/fastify-open-api/README.md
  packages/framework/http/libraries/fastify-open-api/eslint.config.mjs
  packages/framework/http/libraries/fastify-open-api/package.json
  packages/framework/http/libraries/fastify-open-api/prettier.config.mjs
  packages/framework/http/libraries/fastify-open-api/rollup.config.mjs
  packages/framework/http/libraries/fastify-open-api/src/index.ts
  packages/framework/http/libraries/fastify-open-api/src/openapi/calculations/buildSwaggerUiFastifyController.int.spec.ts
  packages/framework/http/libraries/fastify-open-api/src/openapi/calculations/buildSwaggerUiFastifyController.ts
  packages/framework/http/libraries/fastify-open-api/src/openapi/services/SwaggerUiFastifyProvider.ts
  packages/framework/http/libraries/fastify-open-api/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/fastify-open-api/src/server/models/Server.ts
  packages/framework/http/libraries/fastify-open-api/tsconfig.cjs.json
  packages/framework/http/libraries/fastify-open-api/tsconfig.esm.json
  packages/framework/http/libraries/fastify-open-api/tsconfig.json
  packages/framework/http/libraries/fastify-open-api/vitest.config.mjs
Due: none

feat: add hono openapi package
  .changeset/nice-hoops-argue.md
  packages/framework/http/libraries/hono-open-api/.gitignore
  packages/framework/http/libraries/hono-open-api/.lintstagedrc.json
  packages/framework/http/libraries/hono-open-api/.npmignore
  packages/framework/http/libraries/hono-open-api/README.md
  packages/framework/http/libraries/hono-open-api/eslint.config.mjs
  packages/framework/http/libraries/hono-open-api/package.json
  packages/framework/http/libraries/hono-open-api/prettier.config.mjs
  packages/framework/http/libraries/hono-open-api/rollup.config.mjs
  packages/framework/http/libraries/hono-open-api/src/index.ts
  packages/framework/http/libraries/hono-open-api/src/openapi/calculations/buildSwaggerUiHonoController.int.spec.ts
  packages/framework/http/libraries/hono-open-api/src/openapi/calculations/buildSwaggerUiHonoController.ts
  packages/framework/http/libraries/hono-open-api/src/openapi/services/SwaggerUiHonoProvider.ts
  packages/framework/http/libraries/hono-open-api/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/hono-open-api/src/server/models/Server.ts
  packages/framework/http/libraries/hono-open-api/tsconfig.cjs.json
  packages/framework/http/libraries/hono-open-api/tsconfig.esm.json
  packages/framework/http/libraries/hono-open-api/tsconfig.json
  packages/framework/http/libraries/hono-open-api/vitest.config.mjs
Due: none

chore: update changesets with additinal fixed packages
  .changeset/config.json
Due: none

feat!: remove library specific providers
  .changeset/cold-lands-smell.md
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/src/examples/v1/gettingStartedCreateServerAndListen.ts
  packages/docs/tools/inversify-http-open-api-code-examples/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/open-api/.npmignore
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/open-api/src/index.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpress4Controller.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpress4Controller.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpressController.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpressController.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiFastifyController.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiFastifyController.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiHonoController.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiHonoController.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiExpress4Provider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiExpressProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiFastifyProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiHonoProvider.ts
  packages/framework/http/libraries/open-api/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/open-api/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/open-api/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/open-api/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/open-api/src/server/models/Server.ts
Due: @inversifyjs/http-open-api

chore: update dev dependencies
  packages/framework/http/libraries/express-4-open-api/package.json
  packages/framework/http/libraries/express-open-api/package.json
  packages/framework/http/libraries/fastify-open-api/package.json
  packages/framework/http/libraries/hono-open-api/package.json
Due: none

feat: update docs with library specific open api package mentions
  packages/docs/services/inversify-http-open-api-site/README.md
  packages/docs/services/inversify-http-open-api-site/docs/api/swagger-ui-provider.mdx
  packages/docs/services/inversify-http-open-api-site/docs/introduction/getting-started.mdx
Due: none

fix: fix http openapi example package
  packages/framework/http/tools/http-openapi-example/package.json
  packages/framework/http/tools/http-openapi-example/src/app/bootstrap.ts
Due: none

chore: update changesets to only exclude major releases from express@4
  .github/renovate.json
Due: none

docs: fix readme badges
  packages/framework/http/libraries/better-auth/README.md
  packages/framework/http/libraries/core/README.md
  packages/framework/http/libraries/express-4-open-api/README.md
  packages/framework/http/libraries/express-open-api/README.md
  packages/framework/http/libraries/express-v4/README.md
  packages/framework/http/libraries/express/README.md
  packages/framework/http/libraries/fastify-open-api/README.md
  packages/framework/http/libraries/fastify/README.md
  packages/framework/http/libraries/hono-open-api/README.md
  packages/framework/http/libraries/hono/README.md
  packages/framework/http/libraries/open-api/README.md
  packages/framework/http/libraries/validation/README.md
  packages/framework/validation/libraries/ajv/README.md
  packages/framework/validation/libraries/class-validator/README.md
  packages/framework/validation/libraries/standard-schema/README.md
  packages/json-schema/libraries/json-schema-pointer/README.md
  packages/json-schema/libraries/json-schema-types/README.md
  packages/open-api/libraries/open-api-types/README.md
Due: @inversifyjs/ajv-validation, @inversifyjs/class-validation, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/standard-schema-validation

feat: add MapToResolvedValueInjectOptions
  .changeset/nasty-dragons-decide.md
  packages/container/libraries/container/src/index.ts
Due: @inversifyjs/container

refactor: solve docusaurus deprecations
  packages/docs/services/inversify-binding-decorators-site/docusaurus.config.ts
  packages/docs/services/inversify-http-open-api-site/docusaurus.config.ts
  packages/docs/services/inversify-http-site/docusaurus.config.ts
  packages/docs/services/inversify-logger-site/docusaurus.config.ts
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-validation-site/docusaurus.config.ts
Due: none

chore: add changelog generator package
  package.json
  packages/foundation/tools/changelog-generator/.gitignore
  packages/foundation/tools/changelog-generator/.lintstagedrc.json
  packages/foundation/tools/changelog-generator/.npmignore
  packages/foundation/tools/changelog-generator/README.md
  packages/foundation/tools/changelog-generator/eslint.config.mjs
  packages/foundation/tools/changelog-generator/package.json
  packages/foundation/tools/changelog-generator/prettier.config.mjs
  packages/foundation/tools/changelog-generator/rollup.config.mjs
  packages/foundation/tools/changelog-generator/src/index.ts
  packages/foundation/tools/changelog-generator/tsconfig.cjs.json
  packages/foundation/tools/changelog-generator/tsconfig.esm.json
  packages/foundation/tools/changelog-generator/tsconfig.json
Due: none

chore: update changesets config
  .changeset/config.json
Due: none

chore: update package to be private
  packages/foundation/tools/changelog-generator/package.json
Due: none

fix: publish action
  .github/workflows/publish.yaml
Due: none

docs: update docs
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/inversify/CHANGELOG.md
Due: @inversifyjs/container

chore: remove unused dependencies
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/docs/tools/inversify-validation-code-examples/package.json
Due: none

docs: update readme file
  README.md
  packages/container/libraries/inversify/.npmignore
  packages/container/libraries/inversify/README.md
  packages/container/libraries/inversify/assets/inversify-social.png
Due: none

chore: add assets symlink
  assets
Due: none

fix: update assets symlink to be a folder
  assets
  assets/inversify-social.png
Due: none

fix: remove symlink in favor of image duplicate
  assets/inversify-social.png
Due: none

build: use consistent peer-deps requirements
  .changeset/little-ants-battle.md
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/reflect-metadata-utils

refactor: remove deprecated config utils in favor of eslint defineConfig
  packages/foundation/tools/eslint-config/index.js
  packages/foundation/tools/eslint-config/package.json
Due: none

style: update changelog
  packages/foundation/libraries/reflect-metadata-utils/CHANGELOG.md
Due: @inversifyjs/reflect-metadata-utils

docs: update changeset
  .changeset/better-auth-transform-controller.md
Due: none

fix: update container modules to rely on unique service identifiers
  .changeset/sharp-flowers-invite.md
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthExpress4Controller.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthExpressController.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthFastifyController.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthHonoController.ts
  packages/framework/http/libraries/better-auth/src/auth/models/betterAuthControllerServiceIdentifier.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BaseBetterAuthContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.ts
Due: @inversifyjs/http-better-auth

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
