Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-core, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

feat: add code example
  packages/docs/tools/inversify-http-open-api-code-examples/src/examples/v1/decorators/decoratorApiOasExtendingClassSchemas.int.spec.ts
  packages/docs/tools/inversify-http-open-api-code-examples/src/examples/v1/decorators/decoratorApiOasExtendingClassSchemas.ts
Due: none

feat: add philosofy docs
  packages/docs/services/inversify-http-open-api-site/docs/introduction/getting-started.mdx
  packages/docs/services/inversify-http-open-api-site/docs/introduction/philosophy.mdx
Due: none

docs: update decorator docs with missing interface
  packages/docs/services/inversify-http-open-api-site/docs/api/decorators.mdx
Due: none

docs: add SwaggerUiProvider API docs
  packages/docs/services/inversify-http-open-api-site/docs/api/swagger-ui-provider.mdx
Due: none

docs: add faq entry
  packages/docs/services/inversify-http-open-api-site/docs/faq/_category_.json
  packages/docs/services/inversify-http-open-api-site/docs/faq/extending-class-schemas.mdx
Due: none

chore: add deploy docs action
  .github/workflows/deploy-inversify-http-open-api-pages.yaml
Due: none

chore: add deploy npm script
  package.json
Due: none

fix: update config to target right repo
  packages/docs/services/inversify-http-open-api-site/docusaurus.config.ts
Due: none

fix: docusaurus base url
  packages/docs/services/inversify-http-open-api-site/docusaurus.config.ts
Due: none

feat: update NotImplementedOperationError with right error message
  packages/framework/http/tools/e2e-tests/src/warrior/error-filter/errors/NotImplementedOperationError.ts
Due: none

feat: update InversifyHttpAdapter to handle interceptors
  packages/framework/core/src/index.ts
  packages/framework/core/src/interceptor/calculations/getClassInterceptorList.ts
  packages/framework/core/src/interceptor/calculations/getClassMethodInterceptorList.ts
  packages/framework/core/src/interceptor/models/Interceptor.ts
  packages/framework/core/src/interceptor/models/InterceptorTransformObject.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: none

test: add e2e test
  packages/framework/http/tools/e2e-tests/features/interceptor.feature
  packages/framework/http/tools/e2e-tests/src/warrior/common/step-definitions/thenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsDeleteExpressInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsGetExpressInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPatchExpressInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPostExpressInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPutExpressInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsDeleteExpress4InterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsGetExpress4InterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPatchExpress4InterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPostExpress4InterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPutExpress4InterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsDeleteFastifyInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsGetFastifyInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPatchFastifyInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPostFastifyInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPutFastifyInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsDeleteHonoInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsGetHonoInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPatchHonoInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPostHonoInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPutHonoInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/express/WarriorRouteExpressInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/express4/WarriorRouteExpressV4Interceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/fastify/WarriorRouteFastifyInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/hono/WarriorRouteHonoInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/step-definitions/thenDefinitions.ts
Due: none

refactor: move pacakge
  .vscode/settings.json
  codecov.yml
  knip.ts
  packages/framework/validation/libraries/zod/.gitignore
  packages/framework/validation/libraries/zod/.lintstagedrc.json
  packages/framework/validation/libraries/zod/.npmignore
  packages/framework/validation/libraries/zod/README.md
  packages/framework/validation/libraries/zod/eslint.config.mjs
  packages/framework/validation/libraries/zod/package.json
  packages/framework/validation/libraries/zod/prettier.config.mjs
  packages/framework/validation/libraries/zod/rollup.config.mjs
  packages/framework/validation/libraries/zod/src/calculations/buildZodValidationMetadata.spec.ts
  packages/framework/validation/libraries/zod/src/calculations/buildZodValidationMetadata.ts
  packages/framework/validation/libraries/zod/src/decorator/ValidateZodType.spec.ts
  packages/framework/validation/libraries/zod/src/decorator/ValidateZodType.ts
  packages/framework/validation/libraries/zod/src/index.ts
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.int.spec.ts
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.spec.ts
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.ts
  packages/framework/validation/libraries/zod/src/reflectMetadata/data/zodValidationMetadataReflectKey.ts
  packages/framework/validation/libraries/zod/stryker.config.mjs
  packages/framework/validation/libraries/zod/tsconfig.cjs.json
  packages/framework/validation/libraries/zod/tsconfig.esm.json
  packages/framework/validation/libraries/zod/tsconfig.json
  packages/framework/validation/libraries/zod/vitest.config.mjs
  packages/framework/validation/libraries/zod/vitest.config.stryker.mjs
  pnpm-workspace.yaml
Due: none

chore: add validation common package
  packages/framework/validation/libraries/common/.gitignore
  packages/framework/validation/libraries/common/.lintstagedrc.json
  packages/framework/validation/libraries/common/.npmignore
  packages/framework/validation/libraries/common/README.md
  packages/framework/validation/libraries/common/eslint.config.mjs
  packages/framework/validation/libraries/common/package.json
  packages/framework/validation/libraries/common/prettier.config.mjs
  packages/framework/validation/libraries/common/rollup.config.mjs
  packages/framework/validation/libraries/common/src/error/models/InversifyValidationError.ts
  packages/framework/validation/libraries/common/src/error/models/InversifyValidationErrorKind.ts
  packages/framework/validation/libraries/common/src/index.ts
  packages/framework/validation/libraries/common/tsconfig.cjs.json
  packages/framework/validation/libraries/common/tsconfig.esm.json
  packages/framework/validation/libraries/common/tsconfig.json
Due: none

feat: update ZodValidationPipe to throw InversifyValidationError
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.int.spec.ts
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.spec.ts
  packages/framework/validation/libraries/zod/src/pipe/ZodValidationPipe.ts
Due: none

fix: add missing dependency
  packages/framework/validation/libraries/zod/package.json
Due: none

chore: remove unused dependency
  packages/framework/validation/libraries/common/package.json
Due: none

chore: bump dependencies
  packages/foundation/tools/eslint-config/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/tools/http-benchmarks/package.json
Due: none

feat: update ClassMetadata with multiple lifecycle methods
  .changeset/purple-clowns-hang.md
  packages/container/libraries/container/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/throwAtInvalidClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFromHierarchy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/fixtures/MaybeClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/models/ClassMetadataLifecycle.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.ts
Due: @inversifyjs/container, @inversifyjs/core

feat: update ClassMetadataLifecycle to rely on sets
  packages/container/libraries/container/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.ts
  packages/container/libraries/core/src/metadata/calculations/getClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getDefaultClassMetadata.ts
  packages/container/libraries/core/src/metadata/calculations/throwAtInvalidClassMetadata.spec.ts
  packages/container/libraries/core/src/metadata/decorators/inject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFromHierarchy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/multiInject.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/named.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/optional.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/postConstruct.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/preDestroy.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/tagged.int.spec.ts
  packages/container/libraries/core/src/metadata/decorators/unmanaged.int.spec.ts
  packages/container/libraries/core/src/metadata/fixtures/ClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/fixtures/MaybeClassMetadataFixtures.ts
  packages/container/libraries/core/src/metadata/models/ClassMetadataLifecycle.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingPreDestroy.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
Due: @inversifyjs/container, @inversifyjs/core

chore: add AGENTS.md files
  AGENTS.md
  packages/container/examples/AGENTS.md
  packages/container/libraries/binding-decorators/AGENTS.md
  packages/container/libraries/common/AGENTS.md
  packages/container/libraries/container/AGENTS.md
  packages/container/libraries/core/AGENTS.md
  packages/container/libraries/plugin-dispose/AGENTS.md
  packages/container/libraries/plugin/AGENTS.md
  packages/container/libraries/strongly-typed/AGENTS.md
  packages/docs/tools/AGENTS.md
  packages/foundation/tools/AGENTS.md
  packages/framework/core/AGENTS.md
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose

docs: remove usage examples
  packages/container/libraries/binding-decorators/AGENTS.md
  packages/container/libraries/plugin-dispose/AGENTS.md
Due: @inversifyjs/binding-decorators, @inversifyjs/plugin-dispose

docs: remove integration points
  packages/container/libraries/binding-decorators/AGENTS.md
  packages/container/libraries/common/AGENTS.md
  packages/container/libraries/container/AGENTS.md
  packages/container/libraries/plugin-dispose/AGENTS.md
  packages/container/libraries/plugin/AGENTS.md
  packages/container/libraries/strongly-typed/AGENTS.md
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/plugin-dispose

docs: remove package structure
  packages/container/examples/AGENTS.md
  packages/container/libraries/binding-decorators/AGENTS.md
  packages/container/libraries/common/AGENTS.md
  packages/container/libraries/container/AGENTS.md
  packages/container/libraries/plugin-dispose/AGENTS.md
  packages/container/libraries/plugin/AGENTS.md
  packages/container/libraries/strongly-typed/AGENTS.md
  packages/docs/tools/AGENTS.md
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/plugin-dispose

docs: remove file structure section
  packages/container/examples/AGENTS.md
  packages/docs/tools/AGENTS.md
Due: none

docs: remove comment suggestion
  packages/container/libraries/container/AGENTS.md
Due: @inversifyjs/container

feat: update injectFrom to extend lifecycle
  .changeset/bitter-mails-argue.md
  .changeset/hip-aliens-sleep.md
  .changeset/real-feet-fail.md
  .changeset/small-sites-hang.md
  .github/copilot-instructions.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedLifecycle.spec.ts
  packages/container/libraries/core/src/metadata/calculations/getExtendedLifecycle.ts
  packages/container/libraries/core/src/metadata/decorators/injectFrom.ts
  packages/container/libraries/core/src/metadata/decorators/injectFromBase.spec.ts
  packages/container/libraries/core/src/metadata/decorators/injectFromHierarchy.spec.ts
  packages/container/libraries/core/src/metadata/models/InjectFromBaseOptions.ts
  packages/container/libraries/core/src/metadata/models/InjectFromBaseOptionsLifecycle.ts
  packages/container/libraries/core/src/metadata/models/InjectFromHierarchyOptions.ts
  packages/container/libraries/core/src/metadata/models/InjectFromHierarchyOptionsLifecycle.ts
  packages/container/libraries/core/src/metadata/models/InjectFromOptions.ts
  packages/container/libraries/core/src/metadata/models/InjectFromOptionsLifecycle.ts
Due: @inversifyjs/core

test: add integration tests
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
Due: @inversifyjs/core

chore: update ignored packages
  .changeset/config.json
Due: none

chore: revert @inversifyjs/framework-core changelog
  .changeset/seven-ends-sell.md
  packages/framework/core/CHANGELOG.md
  packages/framework/core/package.json
Due: none

docs: remove suplicated lines
  packages/container/libraries/binding-decorators/CHANGELOG.md
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/core/CHANGELOG.md
  packages/container/libraries/plugin-dispose/CHANGELOG.md
Due: @inversifyjs/binding-decorators, @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose

chore: bump inversify dependencies
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-usage-example/package.json
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/framework/core/package.json
  packages/framework/http/libraries/core/package.json
  packages/framework/http/libraries/express-v4/package.json
  packages/framework/http/libraries/express/package.json
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/tools/e2e-tests/package.json
  packages/framework/http/tools/http-benchmarks/package.json
  packages/framework/http/tools/http-openapi-example/package.json
  packages/framework/validation/libraries/zod/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/plugin-dispose

docs: update decorator API docs
  packages/docs/services/inversify-site/docs/api/decorator.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/decorator.mdx
Due: none

docs: improve controller docs
  packages/docs/services/inversify-http-site/docs/fundamentals/controller.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerNonNativeTypes.ts
Due: none

docs: improve Next decorator docs
  packages/docs/services/inversify-http-site/docs/api/decorators.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress4.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextFastify.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextHono.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextHono.ts
Due: none

chore: remove wrong main property
  packages/framework/http/tools/http-openapi-example/package.json
Due: none

chore: fix sourcemaps
  packages/foundation/tools/rollup-config/lib/index.js
Due: none

docs: add interceptor docs
  packages/docs/services/inversify-http-site/docs/fundamentals/guard.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/interceptor.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/pipe.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiExpress4SendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiExpressSendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiFastifySendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiHonoSendMetrics.ts
Due: none

docs: add InversifyHttpAdapter docs
  packages/container/libraries/core/docs/one-to-many-map-star.md
  packages/docs/services/inversify-http-site/docs/api/inversify-http-adapter/_category_.json
  packages/docs/services/inversify-http-site/docs/api/inversify-http-adapter/inversify-http-adapter.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/controller.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/interceptor.mdx
Due: @inversifyjs/core

docs: add ErrorFilter docs
  packages/docs/services/inversify-http-site/docs/fundamentals/error-filter.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/guard.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/interceptor.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/middleware.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/pipe.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiController.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiController.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiInvalidOperationError.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiInvalidOperationErrorFilter.ts
  packages/framework/http/libraries/core/src/http/responses/error/UnprocessableEntityHttpResponse.ts
  packages/framework/http/libraries/core/src/index.ts
Due: none

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/libraries/core
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
