Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/zod-validation

docs: update http docs with validation ecosystem page
  packages/docs/services/inversify-http-site/docs/ecosystem/validation.mdx
  packages/docs/services/inversify-http-site/src/components/FloatingCodeSnippet/index.tsx
  packages/docs/services/inversify-http-site/src/components/FloatingCodeSnippet/styles.module.css
  packages/docs/services/inversify-validation-site/docs/ajv/api.mdx
Due: none

fix: fix validation site build output
  turbo.json
Due: none

chore: bump peer dependency
  packages/framework/http/libraries/hono/package.json
Due: none

refactor: move modules
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/logger/src/index.ts
  packages/logger/src/logger/adapter/winston/adapters/ConsoleLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/FileLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/WinstonLoggerAdapter.int.spec.ts
  packages/logger/src/logger/adapter/winston/adapters/WinstonLoggerAdapter.ts
  packages/logger/src/logger/models/ContextMetadata.ts
  packages/logger/src/logger/models/Logger.ts
  packages/logger/src/logger/modules/LoggerAdapter.spec.ts
  packages/logger/src/logger/modules/LoggerAdapter.ts
Due: @inversifyjs/http-core, @inversifyjs/logger

feat: add HttpLogger
  .changeset/fruity-coats-cross.md
  packages/logger/src/logger/adapter/winston/adapters/HttpLogger.ts
Due: @inversifyjs/logger

feat: add StreamLogger
  .changeset/plain-rivers-film.md
  packages/logger/src/logger/adapter/winston/adapters/StreamLogger.ts
Due: @inversifyjs/logger

feat: export loggers
  packages/logger/src/index.ts
Due: @inversifyjs/logger

style: remove redundant code
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat: add logger ecosystem page
  packages/docs/services/inversify-http-site/docs/api/decorators.mdx
  packages/docs/services/inversify-http-site/docs/api/inversify-http-adapter/inversify-http-adapter.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/open-api.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/validation.mdx
  packages/docs/services/inversify-http-site/package.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemLoggerUsingALogger.ts
Due: none

chore: add inversify-logger-code-examples package
  .changeset/config.json
  knip.ts
  packages/docs/tools/inversify-logger-code-examples/.gitignore
  packages/docs/tools/inversify-logger-code-examples/.lintstagedrc.json
  packages/docs/tools/inversify-logger-code-examples/.npmignore
  packages/docs/tools/inversify-logger-code-examples/README.md
  packages/docs/tools/inversify-logger-code-examples/eslint.config.mjs
  packages/docs/tools/inversify-logger-code-examples/package.json
  packages/docs/tools/inversify-logger-code-examples/prettier.config.mjs
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/consoleLogger.ts
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/fileLogger.ts
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/httpLogger.ts
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/streamLogger.ts
  packages/docs/tools/inversify-logger-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/inversify-logger-code-examples/tsconfig.cjs.json
  packages/docs/tools/inversify-logger-code-examples/tsconfig.esm.json
  packages/docs/tools/inversify-logger-code-examples/tsconfig.json
  packages/docs/tools/inversify-logger-code-examples/vitest.config.mjs
  packages/logger/src/logger/adapter/winston/adapters/HttpLogger.ts
  turbo.json
Due: @inversifyjs/logger

chore: add inversify-logger-site package
  .changeset/config.json
  knip.ts
  packages/docs/services/inversify-logger-site/.gitignore
  packages/docs/services/inversify-logger-site/.lintstagedrc.json
  packages/docs/services/inversify-logger-site/.npmignore
  packages/docs/services/inversify-logger-site/README.md
  packages/docs/services/inversify-logger-site/blog/2024-12-24-welcome/docusaurus-plushie-banner.jpeg
  packages/docs/services/inversify-logger-site/blog/2024-12-24-welcome/index.md
  packages/docs/services/inversify-logger-site/blog/authors.yml
  packages/docs/services/inversify-logger-site/blog/tags.yml
  packages/docs/services/inversify-logger-site/customLoaders.d.ts
  packages/docs/services/inversify-logger-site/docs/introduction/_category_.json
  packages/docs/services/inversify-logger-site/docs/introduction/getting-started.mdx
  packages/docs/services/inversify-logger-site/docusaurus.config.ts
  packages/docs/services/inversify-logger-site/eslint.config.mjs
  packages/docs/services/inversify-logger-site/package.json
  packages/docs/services/inversify-logger-site/prettier.config.mjs
  packages/docs/services/inversify-logger-site/sidebars.ts
  packages/docs/services/inversify-logger-site/src/components/HomepageFeatures/index.tsx
  packages/docs/services/inversify-logger-site/src/components/HomepageFeatures/styles.module.css
  packages/docs/services/inversify-logger-site/src/css/custom.css
  packages/docs/services/inversify-logger-site/src/pages/index.module.css
  packages/docs/services/inversify-logger-site/src/pages/index.tsx
  packages/docs/services/inversify-logger-site/static/CNAME
  packages/docs/services/inversify-logger-site/static/img/.nojekyll
  packages/docs/services/inversify-logger-site/static/img/favicon.ico
  packages/docs/services/inversify-logger-site/static/img/home-header.jpg
  packages/docs/services/inversify-logger-site/static/img/js.png
  packages/docs/services/inversify-logger-site/static/img/logo.svg
  packages/docs/services/inversify-logger-site/static/img/plug.jpg
  packages/docs/services/inversify-logger-site/static/img/ts.png
  packages/docs/services/inversify-logger-site/tsconfig.esm.json
  packages/docs/services/inversify-logger-site/tsconfig.json
  packages/logger/src/logger/adapter/winston/adapters/HttpLogger.ts
  turbo.json
Due: @inversifyjs/logger

chore: improve docusaurus build task
  packages/docs/services/inversify-http-site/src/components/HomepageFeatures/index.tsx
  packages/docs/services/inversify-http-site/src/components/HomepageFeatures/styles.module.css
  turbo.json
Due: none

feat: update home page
  packages/docs/services/inversify-logger-site/customLoaders.d.ts
  packages/docs/services/inversify-logger-site/src/components/DocumentationButton/index.tsx
  packages/docs/services/inversify-logger-site/src/components/DocumentationButton/styles.module.css
  packages/docs/services/inversify-logger-site/src/components/FeatureCard/index.tsx
  packages/docs/services/inversify-logger-site/src/components/FeatureCard/styles.module.css
  packages/docs/services/inversify-logger-site/src/components/FloatingCodeSnippet/index.tsx
  packages/docs/services/inversify-logger-site/src/components/FloatingCodeSnippet/styles.module.css
  packages/docs/services/inversify-logger-site/src/components/HomeFloatingCodeSnippets/index.tsx
  packages/docs/services/inversify-logger-site/src/components/HomeFloatingCodeSnippets/styles.module.css
  packages/docs/services/inversify-logger-site/src/components/HomepageFeatures/index.tsx
  packages/docs/services/inversify-logger-site/src/components/HomepageFeatures/styles.module.css
  packages/docs/services/inversify-logger-site/src/hooks/useHomeFloatingCodeSnippets.ts
  packages/docs/services/inversify-logger-site/src/pages/index.module.css
  packages/docs/services/inversify-logger-site/src/pages/index.tsx
Due: none

chore: remove unused dependency
  packages/docs/tools/inversify-logger-code-examples/package.json
Due: none

chore: add inversify logger docs site deploy action
  .github/workflows/deploy-inversify-logger-pages.yaml
  package.json
Due: none

feat: update logger ecosystem page with docs link
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
Due: none

fix: update doc buttons with right target
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/open-api.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/validation.mdx
  packages/docs/services/inversify-http-site/src/components/DocumentationButton/index.tsx
  packages/docs/services/inversify-http-site/src/pages/index.tsx
Due: none

feat: add logger api docs
  packages/docs/services/inversify-logger-site/docs/api.mdx
  packages/docs/services/inversify-logger-site/src/components/DocumentationButton/index.tsx
  packages/docs/services/inversify-logger-site/src/pages/index.tsx
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/loggerInterface.ts
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/loggerOptions.ts
  packages/docs/tools/inversify-logger-code-examples/src/examples/v1/loggerWithContext.ts
Due: none

fix: add missing import
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
Due: none

fix: fix swagger integration and examples
  packages/docs/services/inversify-http-site/docs/fundamentals/pipe.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiCookies.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiHeaders.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/pipeApiParseNumber.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpress4Controller.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiExpressController.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiFastifyController.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiHonoController.ts
Due: @inversifyjs/http-open-api

feat: update controller metadata to allow setting custom service identifier
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
  packages/framework/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Controller.ts
  packages/framework/http/libraries/core/src/http/models/ControllerOptions.ts
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMetadata.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.ts
Due: @inversifyjs/http-core, @inversifyjs/http-open-api

chore: add better-auth http package
  .changeset/config.json
  codecov.yml
  packages/framework/http/libraries/better-auth/.gitignore
  packages/framework/http/libraries/better-auth/.lintstagedrc.json
  packages/framework/http/libraries/better-auth/.npmignore
  packages/framework/http/libraries/better-auth/README.md
  packages/framework/http/libraries/better-auth/eslint.config.mjs
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/better-auth/prettier.config.mjs
  packages/framework/http/libraries/better-auth/rollup.config.mjs
  packages/framework/http/libraries/better-auth/src/index.ts
  packages/framework/http/libraries/better-auth/stryker.config.mjs
  packages/framework/http/libraries/better-auth/tsconfig.cjs.json
  packages/framework/http/libraries/better-auth/tsconfig.esm.json
  packages/framework/http/libraries/better-auth/tsconfig.json
  packages/framework/http/libraries/better-auth/vitest.config.mjs
  packages/framework/http/libraries/better-auth/vitest.config.stryker.mjs
  pnpm-workspace.yaml
Due: none

feat: update FastifyHttpAdapterOptions with useFormUrlEncoded
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/models/FastifyHttpAdapterOptions.ts
Due: none

test: add test utils
  packages/framework/http/libraries/better-auth/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/better-auth/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/better-auth/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/better-auth/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/better-auth/src/server/models/Server.ts
  packages/framework/http/libraries/better-auth/src/test/actions/createDirectory.ts
  packages/framework/http/libraries/better-auth/src/test/actions/generateBetterAuthMigrations.ts
  packages/framework/http/libraries/better-auth/src/test/actions/removeFileIfExists.ts
Due: none

refactor: add better auth related types
  packages/framework/http/libraries/better-auth/src/auth/models/BetterAuth.ts
  packages/framework/http/libraries/better-auth/src/auth/models/UserSession.ts
Due: none

refactor: add better auth related models
  packages/framework/http/libraries/better-auth/src/auth/models/betterAuthControllerServiceIdentifier.ts
  packages/framework/http/libraries/better-auth/src/auth/models/betterAuthMiddlewareServiceIdentifier.ts
  packages/framework/http/libraries/better-auth/src/auth/models/betterAuthProperty.ts
  packages/framework/http/libraries/better-auth/src/auth/models/betterAuthServiceIdentifier.ts
Due: none

refactor: add controller builders
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthExpress4Controller.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthExpressController.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthFastifyController.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthHonoController.ts
Due: none

refactor: add middleware builder
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthMiddleware.ts
Due: none

refactor: add getBetterAuthFromRequest
  packages/framework/http/libraries/better-auth/src/auth/calculations/getBetterAuthFromRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/getBetterAuthFromRequest.ts
Due: none

refactor: add session builders
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromExpressRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromExpressRequest.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromFastifyRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromFastifyRequest.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromHonoRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromHonoRequest.ts
Due: none

refactor: add session decorators
  packages/framework/http/libraries/better-auth/src/auth/decorators/ExpressUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/ExpressUserSession.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/ExpressUserSession.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/FastifyUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/FastifyUserSession.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/FastifyUserSession.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/HonoUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/HonoUserSession.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/HonoUserSession.ts
Due: none

refactor: add container modules
  packages/framework/http/libraries/better-auth/src/auth/services/BaseBetterAuthContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.ts
Due: none

feat: add exports
  .changeset/big-brooms-post.md
  .changeset/breezy-signs-cry.md
  .changeset/clever-boxes-watch.md
  .changeset/clever-camels-run.md
  .changeset/deep-tools-see.md
  .changeset/dull-otters-invent.md
  .changeset/ready-wings-crash.md
  .changeset/smart-insects-see.md
  .changeset/sour-rocks-work.md
  packages/framework/http/libraries/better-auth/src/index.ts
Due: none

fix: fix typing error
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromExpressRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromFastifyRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromHonoRequest.spec.ts
Due: none

feat: update code examples with better auth ones
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthBasicUsage.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthCompleteExample.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthContainerModules.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthExpressUserSession.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthFastifyUserSession.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthIntroductionExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthIntroductionExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthIntroductionFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthIntroductionHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthOptionalAuth.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthParameterDecoratorGoodAndBad.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthParameterDecorators.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthSessionInfo.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/ecosystemBetterAuthUserInfo.ts
Due: none

feat: update ecosystem pages with better auth section
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/_category_.json
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/_category_.json
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/better-auth.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/container-modules.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/decorators.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/user-session.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/introduction.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/open-api.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/validation.mdx
Due: none

fix: update InversifyHttpAdapter to handle middleware execution errors
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/models/RouterParams.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMetadata.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: @inversifyjs/http-core

fix: fix Fastify middleware e2e tests
  packages/framework/http/tools/e2e-tests/features/middleware.feature
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsDeleteNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsGetNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsOptionsNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPatchNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPostNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPutNextController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsDeleteNextFastifyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsGetNextFastifyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsOptionsFastifyExpressController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsPatchNextFastifyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsPostNextFastifyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/controllers/fastify/WarriorsPutNextFastifyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/middlewares/NextExpress4Middleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/middlewares/NextExpressMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/middlewares/NextFastifyMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/middlewares/NextHonoMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/next/step-definitions/givenDefinitions.ts
Due: none

docs: add changesets
  .changeset/bright-melons-rhyme.md
  .changeset/chatty-camels-call.md
  .changeset/config.json
  .changeset/crazy-flies-decide.md
  .changeset/cuddly-ducks-admire.md
  .changeset/fast-moose-sneeze.md
  .changeset/great-clubs-slide.md
  .changeset/great-pens-push.md
  .changeset/honest-candies-invite.md
  .changeset/hot-fans-sit.md
  .changeset/lemon-feet-fall.md
  .changeset/olive-cats-care.md
  .changeset/olive-paws-smile.md
  .changeset/polite-goats-buy.md
  .changeset/silver-olives-think.md
  .changeset/small-horses-like.md
  .changeset/tame-ducks-marry.md
  .changeset/three-carpets-float.md
  .changeset/three-pumas-taste.md
  .changeset/wise-ghosts-crash.md
  .changeset/wise-yaks-heal.md
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/zod-validation: any of: packages/framework/validation/libraries/zod
