Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-core, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/libraries/core
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor: add ToSchemaFunction
  .changeset/fruity-teams-appear.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/models/ToSchemaFunction.ts
Due: none

refactor: add SchemaMetadata model
  packages/http/libraries/open-api/src/metadata/models/ReferencedSchemaMetadata.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaMetadata.ts
Due: none

refactor: add buildDefaultSchemaMetadata
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultSchemaMetadata.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultSchemaMetadata.ts
Due: none

feat: add BuildOpenApiBlockFunction
  .changeset/modern-lands-travel.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/models/BuildOpenApiBlockFunction.ts
Due: none

refactor: add schemaOpenApiMetadataReflectKey
  packages/http/libraries/open-api/src/reflectMetadata/data/schemaOpenApiMetadataReflectKey.ts
Due: none

feat: add SchemaDecoratorOptions
  .changeset/red-tools-relate.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaDecoratorOptions.ts
Due: none

refactor: add toSchema
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
Due: none

refactor: add updateSchemaMetadata
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadata.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadata.ts
Due: none

feat: add Schema decorator
  .changeset/every-chefs-decide.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.ts
Due: none

fix: update Schema to properly set metadata
  packages/http/libraries/open-api/src/metadata/actions/toSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataName.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataName.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataSchema.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.ts
  packages/http/libraries/open-api/src/metadata/models/ReferencedSchemaMetadata.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaMetadata.ts
Due: none

refactor: add updateSchemaMetadataReferences
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.ts
Due: none

refactor: add updateSchemaMetadataProperty
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataProperty.ts
Due: none

feat: add SchemaProperty decorator
  .changeset/petite-ducks-attack.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/decorators/SchemaProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/SchemaProperty.ts
Due: none

feat: update toSchema to escape name
  packages/http/libraries/open-api/package.json
  packages/http/libraries/open-api/src/metadata/actions/toSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaMetadata.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaReferencesMetadata.ts
Due: none

refactor: wip
  packages/http/libraries/open-api/src/metadata/actions/toSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInSchemaMetadataContext.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInSchemaMetadataContext.ts
  packages/http/libraries/open-api/src/metadata/decorators/Response.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/Schema.ts
  packages/http/libraries/open-api/src/metadata/decorators/SchemaProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/SchemaProperty.ts
Due: none

docs: update changesets
  .changeset/parent-autobind-container.md
  .changeset/parent-autobind-core.md
Due: none

fix: revert ContainerOptions change
  packages/container/libraries/container/src/container/models/ContainerOptions.ts
  packages/container/libraries/container/src/issues/inversify-monorepo-issue-959-parentContainerAutobindWithChildNonAutobind.int.spec.ts
  packages/container/libraries/container/src/issues/parentContainerAutobindWithChildNonAutobind.int.spec.ts
Due: @inversifyjs/container

feat(core): rename AutoBindOptions
  .changeset/light-eggs-double.md
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/core/src/binding/calculations/buildInstanceBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/buildInstanceBinding.ts
  packages/container/libraries/core/src/binding/models/AutobindOptions.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/models/BasePlanParams.ts
  packages/container/libraries/core/src/planning/models/BasePlanParamsAutobindOptions.ts
Due: @inversifyjs/container, @inversifyjs/core

fix: remove unnecessary mock for buildArrayMetadataWithElement in Controller tests
  packages/http/libraries/core/src/http/decorators/Controller.spec.ts
Due: @inversifyjs/http-core

refactor(framework-core): move decorators and calculations to correct folders
  packages/framework/libraries/core/src/guard/calculations/exploreClassGuardList.spec.ts
  packages/framework/libraries/core/src/guard/calculations/exploreClassGuardList.ts
  packages/framework/libraries/core/src/guard/calculations/exploreClassMethodGuardList.spec.ts
  packages/framework/libraries/core/src/guard/calculations/exploreClassMethodGuardList.ts
  packages/framework/libraries/core/src/guard/decorators/UseGuard.spec.ts
  packages/framework/libraries/core/src/guard/decorators/UseGuard.ts
  packages/framework/libraries/core/src/interceptor/calculations/exploreClassInterceptorList.spec.ts
  packages/framework/libraries/core/src/interceptor/calculations/exploreClassInterceptorList.ts
  packages/framework/libraries/core/src/interceptor/calculations/exploreClassMethodInterceptorList.spec.ts
  packages/framework/libraries/core/src/interceptor/calculations/exploreClassMethodInterceptorList.ts
  packages/framework/libraries/core/src/interceptor/decorators/UseInterceptor.spec.ts
  packages/framework/libraries/core/src/interceptor/decorators/UseInterceptor.ts
  packages/framework/libraries/core/src/middleware/decorators/ApplyMiddleware.spec.ts
  packages/framework/libraries/core/src/middleware/decorators/ApplyMiddleware.ts
  packages/framework/libraries/core/src/reflectMetadata/data/catchExceptionMetadataReflectKey.ts
  packages/framework/libraries/core/src/reflectMetadata/data/classExceptionFilterMetadataReflectKey.ts
  packages/framework/libraries/core/src/reflectMetadata/data/classMethodExceptionFilterMetadataReflectKey.ts
Due: @inversifyjs/framework-core

feat(exception-filter): add CatchException and UseExceptionFilter decorators with associated tests
  packages/framework/libraries/core/src/exception-filter/calculations/buildCatchExceptionMetadata.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/buildCatchExceptionMetadata.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreCatchExceptionMap.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreCatchExceptionMap.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreClassExceptionFilterList.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreClassExceptionFilterList.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreClassMethodExceptionFilterList.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/exploreClassMethodExceptionFilterList.ts
  packages/framework/libraries/core/src/exception-filter/decorators/CatchException.spec.ts
  packages/framework/libraries/core/src/exception-filter/decorators/CatchException.ts
  packages/framework/libraries/core/src/exception-filter/decorators/UseExceptionFilter.spec.ts
  packages/framework/libraries/core/src/exception-filter/decorators/UseExceptionFilter.ts
  packages/framework/libraries/core/src/exception-filter/models/CatchExceptionOptions.ts
  packages/framework/libraries/core/src/exception-filter/models/ExceptionFilter.ts
  packages/framework/libraries/core/src/index.ts
Due: @inversifyjs/framework-core

feat(exception-decorators): add CatchException and UseExceptionFilter decorators to changeset
  .changeset/eager-suits-battle.md
  .changeset/early-chicken-press.md
Due: none

test(core): update BindingService tests with additional case
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

test(container): update Container with missing test case
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

chore: fix changesets
  .changeset/busy-facts-cut.md
  .changeset/parent-autobind-container.md
  .changeset/parent-autobind-core.md
  .changeset/proud-jars-behave.md
Due: none

chore: update dependencies
  packages/container/examples/plugin-example/package.json
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/framework/libraries/core/package.json
  packages/http/libraries/core/package.json
  packages/http/libraries/express-v4/package.json
  packages/http/libraries/express/package.json
  packages/http/libraries/fastify/package.json
  packages/http/libraries/hono/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/framework-core, @inversifyjs/http-core, @inversifyjs/plugin-dispose

test: simplify test
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInSchemaMetadataContext.spec.ts
Due: none

refactor: add updateControllerOpenApiMetadataOperationRecordProperty
  packages/http/libraries/open-api/src/common/models/StringRecordValue.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationRecordProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationRecordProperty.ts
  packages/http/libraries/open-api/src/metadata/models/OpenApi3Dot1OperationKeys.ts
Due: none

feat: add Response decorator
  .changeset/empty-turtles-divide.md
  packages/http/libraries/open-api/src/index.ts
  packages/http/libraries/open-api/src/metadata/decorators/Response.ts
Due: none

refactor: update ControllerOpenApiMetadata with references
  packages/http/libraries/open-api/src/metadata/models/ControllerOpenApiMetadata.ts
Due: none

refactor: add toSchemaInControllerOpenApiMetadataContext
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInControllerMetadataContext.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInControllerMetadataContext.ts
Due: none

feat: update Response to allow OpenApi response builder param
  packages/http/libraries/open-api/src/metadata/decorators/Response.spec.ts
  packages/http/libraries/open-api/src/metadata/decorators/Response.ts
Due: none

fix: fix syntax errors
  packages/http/libraries/open-api/src/metadata/actions/buildOrGetOperationObject.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationArrayProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationRecordProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataServer.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataSummary.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultControllerOpenApiMetadata.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultControllerOpenApiMetadata.ts
  packages/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
Due: none

refactor: rename "explore" functions to "get"
  packages/framework/libraries/core/src/exception-filter/calculations/getCatchExceptionMap.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/getCatchExceptionMap.ts
  packages/framework/libraries/core/src/exception-filter/calculations/getClassExceptionFilterList.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/getClassExceptionFilterList.ts
  packages/framework/libraries/core/src/exception-filter/calculations/getClassMethodExceptionFilterList.spec.ts
  packages/framework/libraries/core/src/exception-filter/calculations/getClassMethodExceptionFilterList.ts
  packages/framework/libraries/core/src/guard/calculations/getClassGuardList.spec.ts
  packages/framework/libraries/core/src/guard/calculations/getClassGuardList.ts
  packages/framework/libraries/core/src/guard/calculations/getClassMethodGuardList.spec.ts
  packages/framework/libraries/core/src/guard/calculations/getClassMethodGuardList.ts
  packages/framework/libraries/core/src/index.ts
  packages/framework/libraries/core/src/interceptor/calculations/getClassInterceptorList.spec.ts
  packages/framework/libraries/core/src/interceptor/calculations/getClassInterceptorList.ts
  packages/framework/libraries/core/src/interceptor/calculations/getClassMethodInterceptorList.spec.ts
  packages/framework/libraries/core/src/interceptor/calculations/getClassMethodInterceptorList.ts
  packages/framework/libraries/core/src/middleware/calculations/getClassMethodMiddlewareList.spec.ts
  packages/framework/libraries/core/src/middleware/calculations/getClassMethodMiddlewareList.ts
  packages/framework/libraries/core/src/middleware/calculations/getClassMiddlewareList.spec.ts
  packages/framework/libraries/core/src/middleware/calculations/getClassMiddlewareList.ts
  packages/http/libraries/core/src/index.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodHeaderMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodHeaderMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllers.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/getControllers.ts
  packages/http/libraries/open-api/package.json
Due: @inversifyjs/framework-core, @inversifyjs/http-core

refactor: update SchemaReferencesMetadata to be a Set
  packages/http/libraries/open-api/src/metadata/actions/buildOrGetOperationObject.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInControllerMetadataContext.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchemaInSchemaMetadataContext.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationArrayProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataOperationRecordProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataServer.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateControllerOpenApiMetadataSummary.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataName.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataProperty.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataReferences.ts
  packages/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultControllerOpenApiMetadata.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultControllerOpenApiMetadata.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultSchemaMetadata.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/buildDefaultSchemaMetadata.ts
  packages/http/libraries/open-api/src/metadata/models/SchemaReferencesMetadata.ts
  packages/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
Due: none

refactor: add tryBuildSchemaFromWellKnownType
  packages/http/libraries/open-api/src/metadata/calculations/tryBuildSchemaFromWellKnownType.spec.ts
  packages/http/libraries/open-api/src/metadata/calculations/tryBuildSchemaFromWellKnownType.ts
Due: none

refactor: add getSchemaMetadata
  packages/http/libraries/open-api/src/openApi/calculations/getSchemaMetadata.spec.ts
  packages/http/libraries/open-api/src/openApi/calculations/getSchemaMetadata.ts
Due: none

feat: update toSchema to rely on tryBuildSchemaFromWellKnownType
  packages/http/libraries/open-api/src/metadata/actions/toSchema.spec.ts
  packages/http/libraries/open-api/src/metadata/actions/toSchema.ts
Due: none

refactor: add mergeOpenApiTypeSchema
  packages/http/libraries/open-api/src/openApi/actions/mergeOpenApiTypeSchema.spec.ts
  packages/http/libraries/open-api/src/openApi/actions/mergeOpenApiTypeSchema.ts
Due: none

feat: update SwaggerProvider to build schemas from schema metadata
  packages/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
  packages/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.ts
Due: none
