Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

test: add mock explicit implementation
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.spec.ts
Due: @inversifyjs/http-core

refactor: update metadata modules to rely on findInPrototypeChain
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.ts
Due: @inversifyjs/http-core

feat: add adapter utility types
  .changeset/express-v4-type-utils.md
  .changeset/fastify-type-utils.md
  .changeset/hono-type-utils.md
  .changeset/moody-toys-send.md
  packages/framework/http/libraries/express-v4/src/index.ts
  packages/framework/http/libraries/express-v4/src/models/ExpressErrorFilter.ts
  packages/framework/http/libraries/express-v4/src/models/ExpressInterceptor.ts
  packages/framework/http/libraries/express-v4/src/models/ExpresssGuard.ts
  packages/framework/http/libraries/express/src/index.ts
  packages/framework/http/libraries/express/src/models/ExpressErrorFilter.ts
  packages/framework/http/libraries/express/src/models/ExpressInterceptor.ts
  packages/framework/http/libraries/express/src/models/ExpresssGuard.ts
  packages/framework/http/libraries/fastify/src/index.ts
  packages/framework/http/libraries/fastify/src/models/FastifyErrorFilter.ts
  packages/framework/http/libraries/fastify/src/models/FastifyGuard.ts
  packages/framework/http/libraries/fastify/src/models/FastifyInterceptor.ts
  packages/framework/http/libraries/hono/src/index.ts
  packages/framework/http/libraries/hono/src/models/HonoErrorFilter.ts
  packages/framework/http/libraries/hono/src/models/HonoGuard.ts
  packages/framework/http/libraries/hono/src/models/HonoInterceptor.ts
Due: none

docs: update error filter docs
  packages/docs/services/inversify-framework-site/docs/fundamentals/error-filter.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalExpress.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalExpress4.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalFastify.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalHono.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalHono.ts
Due: none

style: fix typo
  packages/framework/http/libraries/express-v4/src/index.ts
  packages/framework/http/libraries/express-v4/src/models/ExpressGuard.ts
  packages/framework/http/libraries/express/src/index.ts
  packages/framework/http/libraries/express/src/models/ExpressGuard.ts
Due: none

chore: update funding with inversify sponsorship
  .github/FUNDING.yml
Due: none

refactor: add DocumentationButton component
  packages/docs/services/inversify-site/src/components/DocumentationButton/index.tsx
  packages/docs/services/inversify-site/src/components/DocumentationButton/styles.module.css
Due: none

style: update line characer
  packages/container/libraries/core/docs/single-immutable-linked-list.md
Due: @inversifyjs/core

docs: update binding decorator docs to rely on documentation button
  packages/docs/services/inversify-site/docs/ecosystem/binding-decorators.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/ecosystem/binding-decorators.mdx
Due: none

docs: add framework docs
  packages/docs/services/inversify-site/docs/ecosystem/framework.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/ecosystem/framework.mdx
Due: none

style: simplify css
  packages/docs/services/inversify-framework-site/src/components/DocumentationButton/styles.module.css
  packages/docs/services/inversify-http-site/src/components/DocumentationButton/styles.module.css
  packages/docs/services/inversify-site/src/components/DocumentationButton/styles.module.css
Due: none

docs: add strng typed ecosystem page
  packages/docs/services/inversify-site/docs/ecosystem/strongly-typed.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/ecosystem/strongly-typed.mdx
Due: none

docs: update http adapter docs with warning
  packages/docs/services/inversify-framework-site/docs/api/inversify-http-adapter/inversify-http-adapter.mdx
Due: none

fix: fix wrong stream imports
  packages/framework/http/libraries/core/src/httpResponse/models/BadGatewayHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/BadRequestHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ConflictHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ErrorHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ForbiddenHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GatewayTimeoutHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GoneHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/HttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/HttpVersionNotSupportedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InsufficientStorageHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InternalServerErrorHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/LoopDetectedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/MethodNotAllowedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotAcceptableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotFoundHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotImplementedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/PaymentRequiredHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ServiceUnavailableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/SuccessHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnauthorizedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnprocessableEntityHttpResponse.ts
Due: @inversifyjs/http-core

feat: update error HttpResponses with default error messages
  packages/framework/http/libraries/core/src/httpResponse/models/BadGatewayHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/BadRequestHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ConflictHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ForbiddenHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GatewayTimeoutHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GoneHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/HttpVersionNotSupportedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InsufficientStorageHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InternalServerErrorHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/LoopDetectedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/MethodNotAllowedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotAcceptableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotFoundHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotImplementedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/PaymentRequiredHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ServiceUnavailableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnauthorizedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnprocessableEntityHttpResponse.ts
Due: @inversifyjs/http-core

refactor: update code examples to rely on adapter specific typings
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiExpress4Allow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiExpress4Deny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiExpressAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiExpressDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiFastifyAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiFastifyDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiHonoAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiHonoDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiExpress4SendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiExpressSendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiFastifySendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiHonoSendMetrics.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/express/WarriorRouteExpressInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/express4/WarriorRouteExpressV4Interceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/fastify/WarriorRouteFastifyInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/hono/WarriorRouteHonoInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/express/SuccessfulExpressMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/express/UnsuccessfulExpressMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/express4/SuccessfulExpressV4Middleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/express4/UnsuccessfulExpressV4Middleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/hono/SuccessfulHonoMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/hono/UnsuccessfulHonoMiddleware.ts
Due: none

refactor: add buildHttpResponseErrorFilter
  packages/framework/http/libraries/core/src/http/calculations/buildHttpResponseErrorFilter.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildHttpResponseErrorFilter.ts
Due: @inversifyjs/http-core

refactor: update setErrorFilterToErrorFilterMap to allow setting error filters
  packages/framework/http/libraries/core/src/http/actions/setErrorFilterToErrorFilterMap.ts
Due: @inversifyjs/http-core

refactor: extract getErrorFilterForError
  packages/framework/http/libraries/core/src/http/calculations/getErrorFilterForError.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/getErrorFilterForError.ts
Due: @inversifyjs/http-core

feat: update InversifyHttpAdapter
  .changeset/rich-mangos-greet.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor: update setErrorFilterToErrorFilterMap to throw a warning
  packages/framework/http/libraries/core/src/http/actions/setErrorFilterToErrorFilterMap.spec.ts
  packages/framework/http/libraries/core/src/http/actions/setErrorFilterToErrorFilterMap.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildErrorTypeToErrorFilterMap.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildErrorTypeToErrorFilterMap.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.ts
Due: @inversifyjs/http-core

fix: fix vitest typings issue
  packages/container/libraries/core/src/common/models/__mocks__/OneToManyMapStar.ts
Due: @inversifyjs/core

docs: update docs
  packages/container/libraries/inversify/README.md
  packages/foundation/tools/changelog-generator/README.md
Due: none

docs: add alt text
  packages/container/libraries/inversify/README.md
Due: none

docs: fix wrong html tag
  packages/container/libraries/inversify/README.md
Due: none

chore: add uwebsockets http package
  .changeset/eleven-dogs-rhyme.md
  packages/framework/http/libraries/uwebsockets/.gitignore
  packages/framework/http/libraries/uwebsockets/.lintstagedrc.json
  packages/framework/http/libraries/uwebsockets/.npmignore
  packages/framework/http/libraries/uwebsockets/README.md
  packages/framework/http/libraries/uwebsockets/eslint.config.mjs
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/uwebsockets/prettier.config.mjs
  packages/framework/http/libraries/uwebsockets/rollup.config.mjs
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/index.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsHttpAdapterOptions.ts
  packages/framework/http/libraries/uwebsockets/stryker.config.mjs
  packages/framework/http/libraries/uwebsockets/tsconfig.cjs.json
  packages/framework/http/libraries/uwebsockets/tsconfig.esm.json
  packages/framework/http/libraries/uwebsockets/tsconfig.json
  packages/framework/http/libraries/uwebsockets/vitest.config.mjs
  packages/framework/http/libraries/uwebsockets/vitest.config.stryker.mjs
  pnpm-workspace.yaml
Due: none

fix: updated HttpAdapter with missing response param
  .changeset/cyan-impalas-draw.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: @inversifyjs/http-core

refactor: add buildUwebSocketsJsServer
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/src/server/adapter/uWebSocketsJs/actions/buildUwebSocketsJsServer.ts
Due: none

test: update code example tests with uwebsockets cases
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiBasics.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiInheritance.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiAll.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiBody.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiCookies.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiDelete.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiGet.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiHead.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiHeaders.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiOptions.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiPatch.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiPost.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiPut.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiSetHeader.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiStatusCode.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiController.int.spec.ts
Due: none

fix: fix InversifyUwebSocketsHttpAdapter
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: none

feat: add utility types
  .changeset/eleven-dogs-rhyme.md
  packages/framework/http/libraries/uwebsockets/src/index.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsErrorFilter.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsGuard.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsInterceptor.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsMiddleware.ts
Due: none

feat: update uwebsockets adapter to handle stream replies
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.spec.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/calculations/toArrayBuffer.spec.ts
  packages/framework/http/libraries/uwebsockets/src/calculations/toArrayBuffer.ts
  packages/framework/http/libraries/uwebsockets/src/data/abortedSymbol.ts
  packages/framework/http/libraries/uwebsockets/src/models/CustomHttpResponse.ts
Due: @inversifyjs/http-core

fix: update InversifyFastifyHttpAdapter
  .changeset/good-emus-tease.md
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

docs: add missing changeset
  .changeset/tidy-candies-sniff.md
Due: none

feat: update uwebsockets adapter to handle object mode streams
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.spec.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/calculations/toArrayBuffer.ts
Due: none

test: add stream responses e2e case
  packages/framework/http/tools/e2e-tests/features/stream.feature
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsDeleteStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsGetStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsOptionsStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsPatchStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsPostStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/controllers/WarriorsPutStreamController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/stream/step-definitions/thenDefinitions.ts
Due: none

chore: update logger to be a peer dep
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
Due: none
