Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

docs: update installation instructions to use the same manager
  packages/docs/services/inversify-framework-site/docs/introduction/getting-started.mdx
  packages/docs/services/inversify-framework-site/openapi-docs/introduction/getting-started.mdx
Due: none

fix: fix fastify adapter handler
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/fastify-open-api/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: @inversifyjs/http-core

docs: update decorator docs with uwebsockets examples
  packages/docs/services/inversify-framework-site/docs/api/decorators.mdx
  packages/docs/services/inversify-framework-site/docs/introduction/getting-started.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextUwebsockets.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextUwebsockets.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiRequestUwebsockets.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiRequestUwebsockets.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiResponseUwebsockets.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiResponseUwebsockets.ts
Due: none

docs: update framework docs with uwebsockets examples
  packages/docs/services/inversify-framework-site/docs/fundamentals/error-filter.mdx
  packages/docs/services/inversify-framework-site/docs/fundamentals/guard.mdx
  packages/docs/services/inversify-framework-site/docs/fundamentals/interceptor.mdx
  packages/docs/services/inversify-framework-site/docs/fundamentals/middleware.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalUwebsockets.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/errorFilterApiGlobalUwebsockets.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiUwebsocketsAllow.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiUwebsocketsAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiUwebsocketsDeny.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiUwebsocketsDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiUwebsocketsSendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiUwebsocketsSetHeader.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiUwebsocketsSetHeader.ts
Due: none

docs: add blog entry
  packages/docs/services/inversify-framework-site/blog/2025-11-04-uwebsockets-adapter/index.md
  packages/docs/services/inversify-framework-site/blog/2025-11-04-uwebsockets-adapter/speed-banner.jpg
  packages/docs/services/inversify-framework-site/blog/tags.yml
Due: none

fix: update InversifyFastifyHttpAdapter to wait for stream responses
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor: update InversifyHttpAdapter
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
  packages/framework/http/tools/e2e-tests/features/setHeader.feature
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsDeleteSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsGetSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsOptionsSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPatchSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPostSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPutSetHeaderWithStatusCodeController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/set-header/step-definitions/givenDefinitions.ts
Due: @inversifyjs/http-core

chore: update http benchmarks with uwebsockets scenario
  packages/framework/http/tools/http-benchmarks/package.json
  packages/framework/http/tools/http-benchmarks/src/bin/run.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyUwebsockets/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/uwebsockets/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/currentInversifyUwebsockets/CurrentInversifyUwebsocketsBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/models/Platform.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/uwebsockets/UwebsocketsBasicGetScenario.ts
Due: none

feat: update HttpResponse with optional headers
  .changeset/fuzzy-bushes-stick.md
  packages/container/libraries/inversify/README.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/httpResponse/models/AcceptedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/AlreadyReportedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/BadGatewayHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/BadRequestHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ConflictHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ContentDifferentHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/CreatedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ErrorHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ForbiddenHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GatewayTimeoutHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/GoneHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/HttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/HttpVersionNotSupportedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InsufficientStorageHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/InternalServerErrorHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/LoopDetectedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/MethodNotAllowedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/MultiStatusHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NoContentHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NonAuthoritativeInformationHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotAcceptableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotFoundHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/NotImplementedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/OkHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/PartialContentHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/PaymentRequiredHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ResetContentHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/ServiceUnavailableHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/SuccessHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnauthorizedHttpResponse.ts
  packages/framework/http/libraries/core/src/httpResponse/models/UnprocessableEntityHttpResponse.ts
Due: @inversifyjs/http-core

test: update e2e tests with http response scenario
  packages/framework/http/tools/e2e-tests/features/httpResponse.feature
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsDeleteHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsGetHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsOptionsHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsPatchHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsPostHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/controllers/WarriorsPutHttpResponseController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/http-response/step-definitions/givenDefinitions.ts
Due: none

refactor: update BaseSwaggerUiController
  packages/framework/http/libraries/express-4-open-api/src/openapi/calculations/buildSwaggerUiExpress4Controller.int.spec.ts
  packages/framework/http/libraries/express-4-open-api/src/openapi/calculations/buildSwaggerUiExpress4Controller.ts
  packages/framework/http/libraries/express-4-open-api/src/openapi/services/SwaggerUiExpress4Provider.ts
  packages/framework/http/libraries/express-open-api/src/openapi/calculations/buildSwaggerUiExpressController.ts
  packages/framework/http/libraries/express-open-api/src/openapi/services/SwaggerUiExpressProvider.ts
  packages/framework/http/libraries/fastify-open-api/package.json
  packages/framework/http/libraries/fastify-open-api/src/openapi/calculations/buildSwaggerUiFastifyController.int.spec.ts
  packages/framework/http/libraries/fastify-open-api/src/openapi/calculations/buildSwaggerUiFastifyController.ts
  packages/framework/http/libraries/fastify-open-api/src/openapi/services/SwaggerUiFastifyProvider.ts
  packages/framework/http/libraries/hono-open-api/package.json
  packages/framework/http/libraries/hono-open-api/src/openapi/calculations/buildSwaggerUiHonoController.ts
  packages/framework/http/libraries/hono-open-api/src/openapi/services/SwaggerUiHonoProvider.ts
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/open-api/src/openApi/controllers/BaseSwagggerUiController.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.ts
Due: @inversifyjs/http-open-api

fix: update #sendFile to verify only children files are accessed
  packages/framework/http/libraries/open-api/src/openApi/controllers/BaseSwagggerUiController.ts
Due: @inversifyjs/http-open-api

feat: update SwaggerUiProvider to no longer be abstract
  .changeset/eight-tables-act.md
  packages/framework/http/libraries/open-api/.npmignore
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiController.int.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildSwaggerUiController.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.ts
  packages/framework/http/libraries/open-api/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/open-api/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/open-api/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/open-api/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/open-api/src/server/models/Server.ts
Due: @inversifyjs/http-open-api

refactor: update packages to rely on http open api package
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/src/examples/v1/gettingStartedCreateServerAndListen.ts
  packages/docs/tools/inversify-http-open-api-code-examples/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/tools/http-openapi-example/package.json
  packages/framework/http/tools/http-openapi-example/src/app/bootstrap.ts
Due: none

chore: update changesets config without removed packages
  .changeset/config.json
Due: none

docs: update OpenApi docs
  packages/docs/services/inversify-framework-site/openapi-docs/api/swagger-ui-provider.mdx
  packages/docs/services/inversify-framework-site/openapi-docs/introduction/getting-started.mdx
Due: none

feat: add BetterAuthUwebSocketsContainerModule
  .changeset/tiny-numbers-wave.md
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.ts
  packages/framework/http/libraries/better-auth/src/index.ts
  packages/framework/http/libraries/better-auth/src/server/adapter/uwebsockets/actions/buildUwebSocketsJsServer.ts
Due: @inversifyjs/http-better-auth

feat: add UwebSocketsUserSession
  .changeset/brown-pigs-tan.md
  .changeset/eight-tables-act.md
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromUwebSocketsRequest.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildUserSessionFromUwebSocketsRequest.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/UwebSocketsUserSession.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/UwebSocketsUserSession.ts
  packages/framework/http/libraries/better-auth/src/index.ts
Due: @inversifyjs/http-better-auth

docs: update readme
  packages/container/libraries/inversify/README.md
Due: none

test: fix tests to isolate migrations run
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.int.spec.ts
Due: @inversifyjs/http-better-auth

fix: update #appendBody
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
Due: @inversifyjs/http-better-auth

test: clean db resources
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.int.spec.ts
Due: @inversifyjs/http-better-auth

style: remove misleading comment
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
Due: @inversifyjs/http-better-auth

refactor: rename controller
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
Due: @inversifyjs/http-better-auth

fix: update body parse flow to handle request abortions
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-better-auth

refactor: simplify buffer concatenation
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-better-auth

feat: expose missing option types
  packages/framework/http/libraries/express-v4/src/index.ts
  packages/framework/http/libraries/express/src/index.ts
  packages/framework/http/libraries/fastify/src/index.ts
  packages/framework/http/libraries/uwebsockets/src/index.ts
Due: none

fix: remove wrong useJson option
  packages/docs/tools/inversify-http-code-examples/src/server/adapter/uWebSocketsJs/actions/buildUwebSocketsJsServer.ts
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
  packages/framework/http/libraries/better-auth/src/server/adapter/uwebsockets/actions/buildUwebSocketsJsServer.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/models/UwebSocketsHttpAdapterOptions.ts
  packages/framework/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
Due: @inversifyjs/http-better-auth

test: add empty body test case
  packages/framework/http/tools/e2e-tests/features/body.feature
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsDeleteJsonBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsDeleteJsonBodyNamedController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsDeleteStringBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsOptionsJsonBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsOptionsJsonBodyNamedController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsOptionsStringBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPatchJsonBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPatchJsonBodyNamedController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPatchStringBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPostJsonBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPostJsonBodyNamedController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPostStringBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPutJsonBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPutJsonBodyNamedController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/controllers/WarriorsPutStringBodyController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/step-definitions/thenDefinitions.ts
Due: none

test: add e2e no body tests
  packages/framework/http/tools/e2e-tests/features/body.feature
  packages/framework/http/tools/e2e-tests/src/warrior/body/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/body/step-definitions/thenDefinitions.ts
Due: none

fix: update InversifyUwebSocketsHttpAdapter
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: none

fix: update adapter to properly parse content type
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: none

chore: update ci to run more intensive http benchmarks
  .github/workflows/build.yaml
Due: none

chore: update changesets to fix uwebsockets package
  .changeset/config.json
Due: none

chore: remove eslint from quarantine packages
  .github/renovate.json
Due: none

docs: add changeset
  .changeset/early-grapes-study.md
Due: none

chore: remove wrong esm bench
  .github/workflows/build.yaml
Due: none

fix: update InversifyHonoHttpAdapter
  .changeset/hip-schools-like.md
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
  packages/framework/http/tools/e2e-tests/features/body.feature
Due: none

fix: update adapter to handle multipart params
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none
