Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

test: add missing tests
  packages/framework/http/libraries/better-auth/src/auth/services/BaseBetterAuthContainerModule.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
Due: @inversifyjs/http-better-auth

feat: add CorsMiddleware
  .changeset/nice-onions-sniff.md
  packages/framework/http/libraries/hono/src/index.ts
  packages/framework/http/libraries/hono/src/middlewares/CorsMiddleware.int.spec.ts
  packages/framework/http/libraries/hono/src/middlewares/CorsMiddleware.ts
Due: none

chore: add nvmrc file
  .nvmrc
Due: none

chore: update gh actions to pin digests
  .github/actions/setup/action.yaml
  .github/renovate.json
  .github/workflows/build.yaml
  .github/workflows/clear-gh-actions-cache.yaml
  .github/workflows/collect-coverage.yaml
  .github/workflows/deploy-binding-decorators-pages.yaml
  .github/workflows/deploy-inversify-http-open-api-pages.yaml
  .github/workflows/deploy-inversify-http-pages.yaml
  .github/workflows/deploy-inversify-logger-pages.yaml
  .github/workflows/deploy-inversify-pages.yaml
  .github/workflows/deploy-inversify-validation-pages.yaml
  .github/workflows/publish.yaml
Due: none

chore: update tag
  .github/actions/setup/action.yaml
  .github/workflows/build.yaml
Due: none

chore: update tags
  .github/workflows/build.yaml
  .github/workflows/clear-gh-actions-cache.yaml
Due: none

fix: update BindToFluentSyntax.toResolvedValue to allow async factories
  .changeset/dry-hornets-arrive.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

feat: allow async factory bindings
  .changeset/itchy-things-play.md
  .changeset/polite-worlds-relate.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/core/src/binding/models/Factory.ts
  packages/container/libraries/core/src/binding/models/FactoryBinding.ts
  packages/container/libraries/core/src/resolution/calculations/resolveFactoryBindingCallback.ts
Due: @inversifyjs/container, @inversifyjs/core

style: fix linter issue
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/core

docs: update changelog
  packages/container/libraries/inversify/CHANGELOG.md
Due: none

chore: update knip config with framework site package
  knip.ts
  packages/docs/services/inversify-framework-site/package.json
  packages/docs/services/inversify-framework-site/src/hooks/useHomeFloatingCodeSnippets.ts
Due: none

feat: update http ecosystem pages to target framework pages
  packages/docs/services/inversify-framework-site/docs/ecosystem/logger.mdx
  packages/docs/services/inversify-framework-site/docs/ecosystem/open-api.mdx
  packages/docs/services/inversify-framework-site/docs/ecosystem/validation.mdx
Due: none

feat: group doc navbar links
  packages/docs/services/inversify-framework-site/docusaurus.config.ts
  packages/docs/services/inversify-framework-site/sidebars.ts
  packages/docs/services/inversify-framework-site/sidebarsLogger.ts
  packages/docs/services/inversify-framework-site/sidebarsOpenApi.ts
  packages/docs/services/inversify-framework-site/sidebarsValidation.ts
Due: none

chore: add deploy-inversify-framework action
  .github/workflows/deploy-inversify-framework-pages.yaml
  package.json
Due: none

fix: update config to target right repo
  packages/docs/services/inversify-framework-site/docusaurus.config.ts
Due: none

feat: update site to redirect to framework docs
  packages/docs/services/inversify-http-site/docs/api/_category_.json
  packages/docs/services/inversify-http-site/docs/api/decorators.mdx
  packages/docs/services/inversify-http-site/docs/api/inversify-http-adapter/_category_.json
  packages/docs/services/inversify-http-site/docs/api/inversify-http-adapter/inversify-http-adapter.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/_category_.json
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/_category_.json
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/_category_.json
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/better-auth.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/container-modules.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/decorators.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/api/user-session.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/better-auth/introduction.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/logger.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/open-api.mdx
  packages/docs/services/inversify-http-site/docs/ecosystem/validation.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/_category_.json
  packages/docs/services/inversify-http-site/docs/fundamentals/controller.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/error-filter.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/guard.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/interceptor.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/middleware.mdx
  packages/docs/services/inversify-http-site/docs/fundamentals/pipe.mdx
  packages/docs/services/inversify-http-site/docs/introduction/_category_.json
  packages/docs/services/inversify-http-site/docusaurus.config.ts
  packages/docs/services/inversify-http-site/src/pages/index.tsx
  packages/docs/services/inversify-http-site/src/theme/NotFound.tsx
  packages/docs/services/inversify-http-site/static/img/js.png
  packages/docs/services/inversify-http-site/static/img/plug.jpg
  packages/docs/services/inversify-http-site/static/img/ts.png
Due: none

chore: update knip config to include http site
  knip.ts
  packages/docs/services/inversify-http-site/package.json
  packages/docs/services/inversify-http-site/src/hooks/useHomeFloatingCodeSnippets.ts
Due: none

fix: wrong link
  packages/docs/services/inversify-http-site/src/pages/index.tsx
Due: none

feat: remove algolia search and add announcement
  packages/docs/services/inversify-http-site/docusaurus.config.ts
  packages/docs/services/inversify-http-site/src/css/custom.css
Due: none

chore: remove deleted package workflows
  .github/workflows/deploy-inversify-http-open-api-pages.yaml
  .github/workflows/deploy-inversify-logger-pages.yaml
  .github/workflows/deploy-inversify-validation-pages.yaml
Due: none

chore: add react code runner package
  packages/docs/tools/react-code-runner/.gitignore
  packages/docs/tools/react-code-runner/.lintstagedrc.json
  packages/docs/tools/react-code-runner/.npmignore
  packages/docs/tools/react-code-runner/README.md
  packages/docs/tools/react-code-runner/api-extractor.json
  packages/docs/tools/react-code-runner/eslint.config.mjs
  packages/docs/tools/react-code-runner/package.json
  packages/docs/tools/react-code-runner/prettier.config.mjs
  packages/docs/tools/react-code-runner/rollup.bundle.config.mjs
  packages/docs/tools/react-code-runner/src/actions/createRcpWorker.ts
  packages/docs/tools/react-code-runner/src/actions/getInversifyMainFileMonacoModel.ts
  packages/docs/tools/react-code-runner/src/actions/getMonaco.ts
  packages/docs/tools/react-code-runner/src/actions/transformSourceCode.ts
  packages/docs/tools/react-code-runner/src/calculations/mapImports.ts
  packages/docs/tools/react-code-runner/src/components/InversifyCodeEditor/index.tsx
  packages/docs/tools/react-code-runner/src/components/InversifyCodeEditor/styles.module.css
  packages/docs/tools/react-code-runner/src/customLoaders.d.ts
  packages/docs/tools/react-code-runner/src/hooks/useSwc.ts
  packages/docs/tools/react-code-runner/src/index.ts
  packages/docs/tools/react-code-runner/src/inversifyBundle.ts
  packages/docs/tools/react-code-runner/tsconfig.esm.json
  packages/docs/tools/react-code-runner/tsconfig.json
  packages/docs/tools/react-code-runner/vite.config.ts
  turbo.json
Due: none

chore: update knip config
  knip.ts
  packages/docs/tools/react-code-runner/bundle.rollup.config.mjs
  packages/docs/tools/react-code-runner/package.json
Due: none

refactor: update imports to rely on more specific type imports
  packages/docs/tools/inversify-code-examples/src/examples/bindingToSyntaxApiToAutoFactory.ts
  packages/docs/tools/inversify-code-examples/src/examples/bindingToSyntaxApiToAutoNamedFactory.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiApplyMiddlewareController.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiApplyMiddlewareRoute.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiRequestFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiRequestHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiResponseFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiResponseHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiFastifyAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiFastifyDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiHonoAllow.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/guardApiHonoDeny.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/homeAuthMiddleware.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiFastifySendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/interceptorApiHonoSendMetrics.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiExpress4SetHeader.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiExpressSetHeader.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiFastifySetHeader.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/middlewareApiHonoSetHeader.ts
Due: none

chore: bump knip
  package.json
Due: none

fix: fix broken tests
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/PluginManager.spec.ts
  packages/container/libraries/core/src/common/models/WeakList.int.spec.ts
  packages/container/libraries/core/vitest.config.mjs
  packages/container/libraries/inversify/vitest.config.mjs
  packages/json-schema/libraries/json-schema-pointer/vitest.config.mjs
Due: @inversifyjs/container, @inversifyjs/core

feat: wip
  packages/docs/services/inversify-site/customLoaders.d.ts
  packages/docs/services/inversify-site/docs/fundamentals/playground.mdx
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-site/eslint.config.mjs
  packages/docs/services/inversify-site/package.json
  packages/docs/services/inversify-site/src/components/Button/index.tsx
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/index.tsx
  packages/docs/services/inversify-site/src/css/custom.css
  packages/docs/services/inversify-site/tsconfig.esm.json
  packages/docs/tools/react-code-runner/package.json
  packages/docs/tools/react-code-runner/src/actions/createRcpWorker.ts
  packages/docs/tools/react-code-runner/src/inversifyBundle.ts
Due: none

chore: add funding config
  .github/FUNDING.yml
Due: none

feat: support request method inheritance
  .changeset/empty-sloths-ring.md
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.ts
Due: @inversifyjs/http-core

feat(http-core): update getControllerMethodMetadataList
  .changeset/long-cases-crash.md
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.ts
Due: @inversifyjs/http-core

fix: vitest typing issues
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

feat: add controller inheritance code example
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiInheritance.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiInheritance.ts
Due: none

feat: update controller docs with controller inheritance
  packages/docs/services/inversify-framework-site/docs/fundamentals/controller.mdx
  packages/docs/services/inversify-framework-site/src/css/custom.css
Due: none

refactor: remove unused imports
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiInheritance.ts
Due: none

fix: update method metadata functions to ensure inheritance
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiInheritance.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodHeaderMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodHeaderMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.ts
Due: @inversifyjs/http-core

feat: add findInPrototypeChain
  .changeset/proud-laws-count.md
  packages/foundation/libraries/prototype-utils/src/index.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/findInPrototypeChain.spec.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/findInPrototypeChain.ts
Due: @inversifyjs/prototype-utils

style: rely on type imports
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodParameterMetadataList.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodStatusCodeMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodUseNativeHandlerMetadata.ts
Due: @inversifyjs/http-core
